.bdadd {
    flex-grow: 1;
}

.bdadd__form {
    margin-bottom: 30px;
    display: flex;
}

.bdadd__input{
    flex-grow: 1;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    border: 0;
    padding: 20px;
    outline: 0;
}

.bdadd__submit-btn {
    width: 180px;
    padding: 20px 0;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    border: 0;
    flex-shrink: 0;
    margin-left: 10px;
    cursor: pointer;
}

.button {
    opacity: 1;
    transition: opacity .15s ease-in-out;
    outline: 0;
}
  
.button:hover {
    opacity: .7;
}