.header {
    padding: 100px 0 60px 0;
    display: flex;
    justify-content: center;
}

.title {
    color: white;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    margin: 0;
}